@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
:root{font-size:62.5%}
::-webkit-scrollbar{width:1rem;background-color:#e3e2e9;border:1rem}
::-webkit-scrollbar-thumb{background-color:#c8c6d2;border-radius:1rem}
::-webkit-scrollbar-thumb:hover{background-color:#a19fad}
*{box-sizing:border-box;padding:0;margin:0}
html{scroll-behavior:smooth}
body{font-family:"Poppins",sans-serif;font-size:2rem;background-color:aqua;;position:relative}
ul{list-style:none}
ol{list-style:none}
a,a:visited,a:hover,a:active{text-decoration:none}
textarea:focus,input:focus{outline:none}
img{max-width:100%;height:auto}
.btn:hover{cursor:pointer}
.btn:active{background-color:#c1b6fc}
.title{font-size:4rem;color:rgb(253, 105, 7);text-shadow:2px 2px #050505;margin:3.5rem 0 2rem;text-align:center}
.input__container{display:flex;flex-direction:column;margin:auto;justify-content:center;align-items:center}
.input__container .input__search{width:250px;height:3rem;padding:.5rem;font-size:1.6rem;border:2px solid #6d6a7c;border-radius:.5rem;color:#101011;}
.input__container .input__search:hover,.input__container .input__search:focus,.input__container .input__search:active{border-color:#6e57e0}
.input__container .btn__search{width:3rem;height:3rem;color:#6d6a7c;font-size:1.6rem;border:2px solid #6d6a7c;border-radius:.5rem;}
.input__container .btn__search:hover,.input__container .btn__search:focus{color:#5a43cb}
.input__container .error__message{margin:1.5rem 0 2rem;color:red;text-align:center}input[type=search]
::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button,input[type=search]
::-webkit-search-results-button,input[type=search]
::-webkit-search-results-decoration{-webkit-appearance:none}
.city__name{text-align:center;margin:3rem 0 1.5rem;font-size:3.5rem;color:#c1b6fc;text-shadow:2px 2px #6e57e0}
.container__summary{margin:0 2rem 2rem;display:flex}.container__summary p{max-width:500px;margin:0 auto 1rem;text-align:center}
.container__scores{margin:0 2rem}
.container__scores .score{margin:0 auto 2rem;border:1px solid #c1b6fc;border-radius:.5rem;padding:1rem 2rem;display:flex;flex-direction:column;max-width:500px}
.container__scores .score .header__score{display:flex;justify-content:space-between;align-items:center}
.container__scores .score .header__score .name__score{letter-spacing:.1rem}
.container__scores .score .header__score .value__score{font-size:2rem}
.container__scores .score .score__bar{height:2rem;border:1px solid #c1b6fc;border-radius:.5rem;margin:1.5rem 0 .5rem}
.container__scores .score .score__bar .color__score__bar{height:100%;border-radius:.5rem}
.container__scores .ending__score{margin:4rem auto 10rem;max-width:500px;text-align:center}
.container__scores .ending__score .teleport__vote{font-weight:600;font-size:3.5rem;color:#c1b6fc;text-shadow:3px 2px 1px #6e57e0;margin:1rem 0}
.container__scores .ending__score .vote{color:#fff;width:100px;height:100px;text-align:center;background-color:#c1b6fc;border-radius:50%;font-size:50px;display:flex;justify-content:center;align-items:center;margin:.5rem auto 2rem;font-weight:600;text-shadow:2px 2px #5a43cb}
.container__scores .ending__score .teleport__btn{border:2px solid #6d6a7c;font-size:16px;border-radius:.5rem;padding:.5rem;color:#6d6a7c;font-weight:600;-webkit-text-decoration-color:1.6rem;text-decoration-color:1.6rem}
.container__scores .ending__score .teleport__btn a{text-decoration:none;color:#6d6a7c}.img__city{width:100%;max-width:1000px;z-index:-1;padding:0 2rem}.container__info{margin:1rem auto;max-width:500px}.container__info .text__info{margin:0 2rem 1rem;text-align:center}
.container__info .text__info a{font-size:18px;font-weight:600;color:#6e57e0}
.container__info .text__info a:hover{cursor:pointer;color:#5a43cb}
.container__info .socials{display:flex;justify-content:center;align-items:center}
.container__info .socials a{margin:2rem 1rem;color:#6e57e0}
.container__info .socials a:hover{cursor:pointer;color:#5a43cb}
.container__info .socials a i{font-size:30px}@media(max-width: 350px){.title{font-size:32px}
.input__container{display:flex;margin:0 1rem}
.input__container div .input__search{width:200px}
.city__name{font-size:32px}
.name__score{font-size:20px;letter-spacing:normal}}
@media(min-width: 1200px)
{body{position:relative;display:grid;height:100vh;grid-template:auto/repeat(2, 1fr);grid-template-areas:"left right" ". right"}
header{grid-area:left;position:-webkit-sticky;position:sticky;top:0px}
.left__container{margin-top:30rem;grid-area:left;position:-webkit-sticky;position:sticky;top:300px}
.right__container{grid-area:right;background-color:#fff;overflow:scroll}
::-webkit-scrollbar{display:none}.city__name{font-size:40px;margin-bottom:20px}
.ending__score{margin-bottom:10rem}}
@media(min-width: 1500px)
{html{display:flex;justify-content:center;align-items:center}body{width:1500px}}